# Backend
GEMINI_MODEL=gemini-3-flash-preview
GEMINI_API_KEY=your-api-key-here
BACKEND_PORT=8000

# Frontend
FRONTEND_PORT=3000
VITE_API_URL=http://localhost:8000
VITE_API_WS_URL=ws://localhost:8000
VITE_CESIUM_TOKEN=your-cesium-token-here
